@font-face {
  font-family: "INFO 53";
  src: url("../fonts/INFO53_0.ttf") format("truetype");
}

script{
	
}

html{
	background-color: black;
	font-family: "INFO 53", monospace;
	color: purple;
	line-height: 1.15;
	/* overflow-x: hidden; */

}

div{
	display: block;
}

body{
	text-align: center;
	 
}

video {
	min-height: 1px;
	
}

.bottom-text{
	bottom: 40px;
}

.bottom-text{
	width:100%;
	text-align:center;
	color: blue; /* the color wont show due to <mark> */
	font-size: 33px;
	line-height: 20px;
	position: absolute;
	left: 0;
}

#camera{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
  margin-left: -100px;
}

.home{
	/*cursor:grab; */
	/* background: url(../media/video-still.jpeg) no-repeat fixed center; */
	background-size: cover;
	overflow: hidden;
	min-height: 0px;
}




.vid-wrap{
	overflow: hidden;
	position: fixed; 

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -10;
}

.vid-form{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .vid-form {
    height: 300%;
    top: -100%;
  }
}

@media (min-width: 500px) and (max-aspect-ratio: 16/9) {
  .vid-form {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 500px) and (max-aspect-ratio: 16/9) {
  .vid-form {
    width: 400%;
    left: -150%;	
  }
}


/*
.hand:active{
	cursor: grabbing;
}
*/
/*to be used later, pos with nav bar*/
.sticky {
	position: -webkit-sticky; /* safari */
	position: sticky;
	top: 0;
}

.button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }